
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.welcomments.io/welcomments.css" />
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="content-container">
      <h1>{{ page.title }}</h1>
      <section>
        {{ content }}
      </section>
      {% include welcomments/comments.html website_id = "kPSa1dtJjunT1hnDjj3E7PQ2S" %}
    </div>
  </body>
</html>
